@import '@fontsource/red-hat-display';

* {
  font-family: 'Red Hat Display', sans-serif;
  box-sizing: border-box;
}

html.dark {
  /* background: #121212; */
  color-scheme: dark;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --scrollbar-width: 12px;
  --scrollbar-bg: #f1f1f1;
  --scrollbar-thumb-bg: #888;
  --scrollbar-thumb-hover-bg: #555;
  --scrollbar-border-radius: 10px;
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-bg);
  border-radius: var(--scrollbar-border-radius);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-bg);
  border-radius: var(--scrollbar-border-radius);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-bg);
}
